.storeWrap {
	width: 100%;
	height: 70vh;
	background: rgba(0, 0, 0, .4)url(../images/shop.jpg) no-repeat;
	background-position: center;
	background-size: 100% 100%;
	background-blend-mode: darken;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.storeWrap h1 {
	display: block;
	align-items: center;
	text-align: center;
	justify-content: center;
/*	padding-top: 15%;*/
}

/*-------About-------*/

.aboutMe {
	background: rgba(0, 0, 0, .4)url(../images/aboutme.jpg) no-repeat;
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
	background-blend-mode: darken;
	color: #fff;
}

.aboutCont {
	margin-top: 10%;
	padding-bottom: 75px;
}

.aboutCont p {
	padding-top: 2%;
	text-align: left;
}

.imgColWrap {
	position: relative;
/*	width: 100%;*/
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
}


.imgCol img {
	display: flex;
	width: 100%;
	position: relative;
	height: 70%;
}

.imgCol:before {
	content: '';
	display: flex;
	position: absolute;
	right: 34px;
	top: 20px;
	z-index: -1;
	width: 93%;
	height: 70%;
	border: 3px solid #ccc;
}
