
.navbar-scroll {
	background-color: #000;
	transition: .2s ease;
}


.navbar {
	transition: .2s ease;
}

.navbar a {
/*	width: 100px;*/
	position: relative;
	letter-spacing: 2px;
	margin-left: 20px;
	font-size: 18px;
	color: #ffff;
}

.navbar a:focus {
	color: #fff;
}

.nav {
	margin: 10px;
}

#collapse {
	position: relative;
/*	display: flex;*/
/*	text-align: center;*/
	align-items: center;
	width: 100%;
}

.nav a:before {
	content: '';
	position: absolute;
	background-color: #BE6DB7;
	height: 5%;
	width: 0;
	bottom: -1px;
	transition: .3s ease;
	border-radius: 20px;
}

.nav a:hover:before {
	width: 85%;
}

.logo {
	font-weight: 900;
	font-size: 24px;
}

.logo span {
	color: #BE6DB7;	
}

.rounded-circle:hover {
	background-color: transparent;
	color: #BE6DB7;
}

@media only screen and (max-width: 650px) {
	.nav a:before {
		display: none;
	}

	.navToggle {
		border-width: 0;
	}

	.navToggle:focus {
		border-width: 0px;
		box-shadow: none;
	}

	.navbar {
		background-color: #000;
	}

	.navbar a:hover {
		color: #BE6DB7;
	}

}